*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #3B82F6;
    font-family: "Poppins", sans-serif;
}
.wrapper{
   
    width: 400px;
    margin-top: 20px;
    background-color:#EFF6FF;
    border-radius: 7px;
}

.wrapper header{
    color: #3B82F6;
    font-size: 21px;
    font-weight: 500;
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}
.wrapper.active header i{
    font-size: 30px;
    margin-left: 5px;
}
header i{
    font-size: 0;
    margin-right: 8px;
    cursor: pointer;
}
.wrapper .input-part{
    /* display: none; */
    padding: 20px 25px 30px;
    
}
.wrapper.active .input-part{
    display: none;
}
.input-part .info-text{
   display: none;
    font-size: 17px;
    padding: 12px 10px;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 15px;
    
}
.info-text.error{
    display: block;
    color: #721c24;
    background-color: #f8d7da; 
    border: 1px solid #f5c6cb;
}
.info-text.pending{
    display: block;
    color: #0c5460;
    background-color: #d1ecf1; 
    border: 1px solid #bee5eb;
}
.input-part :where(input, button) {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
    
}
.input-part input{
    text-align: center;
    border: 1px solid #bfbfbf;

}
.input-part .input-box{
    position: relative;
}
.input-part .input-box::after{
    content:"*";
    position:absolute;
    top: -4px;
    
    font-size: 18px;
    color: #721c24;
    width: 10px;
    height: 10px;

}
.input-part .separator{
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator::before{
    content: "or";
    color: #ccc;
    font-size: 19px;
    padding: 0 15px;
    background-color: #fff;
    
}

.input-part button{
    color: #fff;
    background-color: #3B82F6;
    cursor: pointer;
}
.wrapper .weather-part{
    margin: 10px 0 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper.active .weather-part{
    display: flex;
}
.weather-part img{
    width: 150px;
}
.weather-part .temp{
    display: flex;
    font-size: 72px;
    font-weight: 500;

}
.weather-part .temp .numb{
    font-weight: 600;

}
.weather-part .temp .deg{
    font-size: 40px;
    
}

.weather-part .weather{
    font-size: 21px;
    text-align: center;
    margin: 20px 0;
}
.weather-part .location{
    font-size: 21px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.location i{
    margin-right: 10px;
}
.weather-part .bottom-details{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}
.bottom-details .column{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.column i{
    font-size: 40px;
    color: #3B82F6;
}
.column.humidity{
    border-left: 1px solid #bfbfbf;
}
.details .temp, .humidity span{
    font-size: 18px;
    font-weight: 600;
    margin-top: -5px;
}
.details .temp .deg{
    margin: 0;
    font-size: 17px;
    padding:  0 2px 0px 1px;
}